


 .container {
    /* background-image: url('../../assets/images/feujimount.jpg'); */
    background-size: cover; /* Adjust as needed */
    background-position: center; /* Adjust as needed */
  /* height: auto; */
 
    margin: 0;
   display: flex;
    align-items: center;
    justify-content: center;
  }