<!-- <p>login-page works!</p> -->
<div class="login-container">
    <h2>Login Page</h2>
    <form>
      <label for="username">Username<span style=color:red>*</span></label>
      <input type="text" id="username" name="username" required>
  
      <label for="password">Password<span style=color:red>*</span></label>
      <input type="password" id="password" name="password" required>

      <span><a href="">Forget Password</a></span>
      
      <button type="submit">Login</button>
    </form>
  </div>
    