.container {
    display: flex;
    justify-content: space-between;

}

.custom-row {
 height: 80px; 

}

.custom-table tbody tr:nth-child(odd) {
    background-color: #f8f9fa; /* Light gray background for odd rows */
  }

  .custom-table tbody tr:nth-child(even) {
    background-color: #e9ecef; /* Lighter gray background for even rows */
  }