<!-- 
<div class="container">
 
<div class="row">
    <div class="col-md-12 d-flex justify-content-end" >
        <button class="btn btn-primary">Search</button>
      </div>
    <div class="col-md-12 row bg-light" >
      <div class="col-md-4">
        <div class="box" ></div>
      </div>
      <div class="col-md-2">
        <div class="box"></div>
      </div>
      <div class="col-md-2">
        <div class="box"></div>
      </div>
      <div class="col-md-2">
        <div class="box"></div>
      </div>
      <div class="col-md-2">
        <div class="box"></div>
      </div>

      <div class="col-md-2">
        <div class="box"></div>
      </div>
      <div class="col-md-2">
        <div class="box"></div>
      </div>
     
      
    </div>
</div>
-->


<div class="container-fluid">
    <div class="input-group mt-5">
        <input type="text " class="form-control form-control-sm" placeholder="Search...">
        <div class="input-group-append">
          <button class="btn btn-primary btn-sm " type="button">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
  <div>
    <!-- <div class="col-md-12 d-flex justify-content-end mt-4">
      <button class="btn btn-primary">Search</button>
    </div> -->
    <div class="table-responsive">
      <table class="table  mt-5 custom-table table-borderless table-hover table-striped">
        <tbody>
          <tr class=" custom-row col-4">
            <td><a href="">12 Feb 2024 -18 Feb 2024</a></td>
            <td class="text-center">Billing Hour
              <div class="number text-center text-muted">0.0</div>
            </td>
            <td  class="text-center">Non-Billing Hour
              <div class="number text-center text-muted">0.0</div>
            </td >
            <td class="text-center">Leave
              <div class="number text-center text-muted">0.0</div>
            </td>
            <td class="text-center">status
              <div class="number text-center text-muted">approved</div>
            </td>
          </tr>
          <tr class=" custom-row col-2">
           <td><a href="">12 Feb 2024 -18 Feb 2024</a></td>
           <td class="text-center">Billing Hour
            <div class="number text-center text-muted">0.0</div>
          </td>
          <td  class="text-center">Non-Billing Hour
            <div class="number text-center text-muted">0.0</div>
          </td >
          <td class="text-center">Leave
            <div class="number text-center text-muted">0.0</div>
          </td>
          <td class="text-center">status
            <div class="number text-center text-muted">Pending</div>
          </td>
          </tr>
          <tr class="custom-row col-2">
            <td><a href="">27 Feb 2024-5 Mar 2024</a></td>
            <td class="text-center">Billing Hour
              <div class="number text-center text-muted">0.0</div>
            </td>
            <td  class="text-center">Non-Billing Hour
              <div class="number text-center text-muted">0.0</div>
            </td >
            <td class="text-center">Leave
              <div class="number text-center text-muted">0.0</div>
            </td>
            <td class="text-center">status
              <div class="number text-center text-muted">Rejected</div>
            </td>
          </tr>
         
        </tbody>
      </table>
    </div>
  </div>
</div>