<div class="container-fluid">
    <div class="row flex-nowrap">
      <div class="bg-dark  ">
        <div class="bg-dark p-2">
          <a class="d-flex text-decoration-none mt-1 align-items-center">
            <span class="fs-4 d-none d-sm-inline"></span>
          </a>
           <ul class="nav nav-pills flex-column mt-4">
            <li class="nav-item ">
              <a  class="nav-link " aria-current="page"><i class="bi bi-person" style="font-size: 25px; color:rgb(243,117,46);"></i><span class=" ms-2 d-none d-sm-inline " routerLink="home">View
                  Profile</span></a>
            </li>
            <li class="nav-item">
              <a    class="nav-link " aria-current="page"><i class="bi bi-people " style="font-size: 25px; color: rgb(243,117,46);"></i><span
                  class=" ms-2 d-none d-sm-inline" routerLink="employeedisplay">Employee</span></a>
            </li>
            <li class="nav-item">
              <a  class="nav-link " aria-current="page"><i class="bi bi-grid-3x3-gap-fill " style="font-size: 25px; color: rgb(243,117,46);"></i><span
                  class=" ms-2 d-none d-sm-inline " routerLink="accountdisplay">Account</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link " aria-current="page"><i class="bi bi-files" style="font-size: 25px; color: rgb(243,117,46);"></i><span
                  class=" ms-2 d-none d-sm-inline ">Projects</span></a>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link " aria-current="page"><i class="bi bi-calendar-check" style="font-size: 25px; color: rgb(243,117,46);"></i><span
                  class=" ms-2 d-none d-sm-inline">Timesheet</span></a>
            </li>
          </ul> 
        </div>
      </div>   
      
    </div>
  </div>