<!-- <p>view-profile works!</p> -->
<div class="container mt-4">
  <h2>Employee Profile</h2>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="employeeId">Employee ID:</label>
        <p id="employeeId">{{ employeeId }}</p>
      </div>
      <div class="form-group">
        <label for="employeeId">Employee Code:</label>
        <p id="employeeId">{{ employeeId }}</p>
      </div>
      <div class="form-group">
        <label for="employeeId">First Name:</label>
        <p id="employeeId">{{ employeeId }}</p>
      </div>
      <div class="form-group">
        <label for="employeeId">Middle Name:</label>
        <p id="employeeId">{{ employeeId }}</p>
      </div>
      <div class="form-group">
        <label for="employeeId">Last Name:</label>
        <p id="employeeId">{{ employeeId }}</p>
      </div>
      <div class="form-group">
        <label for="employeeId">Designation:</label>
        <p id="employeeId">{{ employeeId }}</p>
      </div>
      <div class="form-group">
        <label for="employeeId">Email:</label>
        <p id="employeeId">{{ employeeId }}</p>
      </div>
      <div class="form-group">
        <label for="employeeId">Gender:</label>
        <p id="employeeId">{{ employeeId }}</p>
      </div>
      <div class="form-group">
        <label for="employeeId">Date Of Joining:</label>
        <p id="employeeId">{{ employeeId }}</p>
      </div>
      <div class="form-group">
        <label for="employeeId">Reporting Manger:</label>
        <p id="employeeId">{{ employeeId }}</p>
      </div>
      <div class="form-group">
        <label for="employeeId">Employment Type:</label>
        <p id="employeeId">{{ employeeId }}</p>
      </div>
      <div class="form-group">
        <label for="employeeId">Status:</label>
        <p id="employeeId">{{ employeeId }}</p>
      </div>
      <div class="form-group">
        <label for="employeeId">Delivery Unit:</label>
        <p id="employeeId">{{ employeeId }}</p>
      </div>
      <div class="form-group">
        <label for="employeeId">Business Unit:</label>
        <p id="employeeId">{{ employeeId }}</p>
      </div>
      <div class="form-group">
        <label for="employeeId">Exit Data:</label>
        <p id="employeeId">{{ employeeId }}</p>
      </div>
      <div class="form-group">
        <label for="employeeId">Exit Remark:</label>
        <p id="employeeId">{{ employeeId }}</p>
      </div>
      <div class="form-group">
        <label for="employeeId">Deleted:</label>
        <p id="employeeId">{{ employeeId }}</p>
      </div>
      <!-- Repeat the above structure for other fields -->
    </div>
    <div class="col-md-6">
      <!-- Add image display here -->
    </div>
  </div>
</div>

