/* .container {
    display: flex;
    justify-content: space-between;

}


.custom-row {
 height: 80px; 

}

.custom-table tr:nth-child(odd)
{
   background-color: antiquewhite;
} */
.table td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
[contenteditable="true"] {
  border: 1px solid #ddd;
  padding: 8px;
  min-height: 30px;
  outline: none;
  border-radius: 4px;
  font-size: 16px;
}

[contenteditable="true"]:hover {
  border-color: #007bff;
}