body{
    width:100%;
   
}

/* .container
{
    display: flex;
    justify-content: space-between;
} */


.navbar {

    /* border: 1px solid black; */
    height: 100px;
    background-color: black;
    display: flex;
    justify-content: space-between;
 
    
}



.navbar .navbar-brand img{
    height: 62px;
    width: 116px;

    left: 70px;
}
/* .navbar #navbarNav .navbar-nav .nav-item {
    border: 1px solid black;
    height: 36px;
    width: 90px;
    border-radius: 15px;
    text-align: center;
 
    display: flex;
    
}

.navbar #navbarNav .navbar-nav .nav-item .nav-link{
    font-size: large;
    font-weight: bolder;
    position: relative;
    bottom: 5px;
}  */